.div1{
  border: solid #EEEEEE 1px;
  margin: 10px;
}

.div2{
  border: solid #000000 2px;
  padding: 10px
}

.div3{
  border: solid #000000 1px;
}

body{
  margin: 30px;
}

h1,h3{
  text-align: center;
}

#buttons{
  text-align: center;
}

.vertical{
  height: 300px;
}
